body {
  margin: 0px;
  background-color: #eceff4; }

.header {
  display: flex;
  height: 55px;
  background-color: rgba(5, 28, 45, 0.95);
  margin: 0px;
  align-items: center; }
  .header label {
    margin-left: 20px;
    font-size: 26px;
    display: none;
    width: 26px;
    color: rgba(255, 255, 255, 0.95); }
  .header #toggle {
    display: none; }
  .header .header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto; }
    .header .header_content .header_left_part {
      display: flex;
      flex-direction: row;
      width: 50%; }
      .header .header_content .header_left_part a {
        display: flex;
        justify-content: center;
        align-items: center; }
    .header .header_content .header_right_part {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 40%; }
      .header .header_content .header_right_part a {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.95);
        text-decoration: none; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .navigation a {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none; }

[data-component="slideshow"] .slide {
  display: none; }

[data-component="slideshow"] .slide.active {
  display: flex; }

my-slide .slide {
  background-color: black; }
  my-slide .slide img {
    display: flex;
    object-fit: contain;
    width: 60%;
    padding: 30px 0px;
    margin-left: 50px; }
  my-slide .slide .text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    padding: 0px 20px; }
    my-slide .slide .text_container p {
      padding: 0px 50px;
      font-size: 24px; }

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .articles my-article .article {
    width: 750px;
    height: 300px;
    margin-top: 30px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.95); }
    .articles my-article .article img {
      display: flex;
      width: 60%;
      object-fit: contain; }
    .articles my-article .article .text_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0px 20px; }
      .articles my-article .article .text_container p {
        padding: 0px 50px;
        font-size: 22px; }

my-team .team {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 10px;
  color: inherit;
  text-decoration: none;
  justify-content: space-around;
  align-items: center; }
  my-team .team img {
    display: flex;
    width: 80%;
    height: 80%;
    object-fit: contain; }
my-team .team:hover {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10%; }

.teams {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.standings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.conference_standing {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0.5%;
  padding: 30px; }
  .conference_standing .table {
    width: 100%; }
  .conference_standing .table_header th {
    background-color: rgba(201, 201, 201, 0.4); }
  .conference_standing .table th,
  .conference_standing .table td {
    text-align: center;
    padding: 0.25em; }
  .conference_standing .standing_row td {
    border-bottom: 1px dotted #bbb5b5;
    border-right: 1px dotted #bbb5b5; }
  .conference_standing .standing_row:hover {
    background-color: rgba(1, 154, 255, 0.15); }
  .conference_standing my-team-row .team_name_row {
    display: flex;
    align-items: center;
    width: 230px;
    text-decoration: none;
    color: inherit; }
    .conference_standing my-team-row .team_name_row img {
      display: flex;
      width: 10%;
      object-fit: contain;
      margin: 0px 10px; }

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px; }
  .games .datePickerContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.95); }
    .games .datePickerContainer my-date-picker {
      display: flex;
      justify-content: center;
      align-items: center; }
      .games .datePickerContainer my-date-picker .arrow_img {
        width: 18px;
        height: 25px; }
      .games .datePickerContainer my-date-picker #dt {
        margin: 0px 20px; }
      .games .datePickerContainer my-date-picker [type="date"] {
        background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat; }
      .games .datePickerContainer my-date-picker [type="date"]::-webkit-inner-spin-button {
        display: none; }
      .games .datePickerContainer my-date-picker [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0; }
      .games .datePickerContainer my-date-picker input {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
        width: 190px; }
  .games .gameCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%; }
    .games .gameCards my-game-card {
      background-color: rgba(255, 255, 255, 0.95);
      width: 45%;
      margin: 20px 0px;
      border-radius: 10px; }
      .games .gameCards my-game-card .gamecard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: inherit;
        padding: 30px; }
        .games .gameCards my-game-card .gamecard .team_in_card {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .games .gameCards my-game-card .gamecard .team_in_card img {
            width: 80px;
            height: 80px;
            object-fit: contain; }
        .games .gameCards my-game-card .gamecard .cardMiddle {
          display: flex;
          align-items: center;
          justify-content: center; }
          .games .gameCards my-game-card .gamecard .cardMiddle h3 {
            margin: 0px 30px; }
    .games .gameCards my-game-card:hover {
      opacity: 0.8;
      transform: translateY(2px); }
    .games .gameCards .messageContainer {
      margin: 200px 0px;
      display: flex;
      justify-content: center;
      align-items: center; }

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .players .comboBoxContainer {
    margin: 50px 0px;
    padding: 20px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    width: 80%; }
    .players .comboBoxContainer my-select-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .players .comboBoxContainer my-select-box select {
        -webkit-appearance: button;
        -moz-appearance: button;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-padding-end: 20px;
        -moz-padding-end: 20px;
        -webkit-padding-start: 2px;
        -moz-padding-start: 2px;
        background-color: rgba(255, 255, 255, 0.95);
        background-position: center right;
        background-repeat: no-repeat;
        border: 1px solid rgba(255, 255, 255, 0.95);
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(5, 28, 45, 0.95);
        color: black;
        font-size: inherit;
        margin: 0;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 2px;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .players .rostercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.95); }
    .players .rostercontainer .roster {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%; }
      .players .rostercontainer .roster .rosterHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        text-decoration: none;
        color: inherit; }
        .players .rostercontainer .roster .rosterHeaderContainer img {
          width: 10%;
          margin-right: 20px; }
      .players .rostercontainer .roster .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
        .players .rostercontainer .roster .styled-table thead tr {
          background-color: #c9c9c9;
          color: #0c0505;
          text-align: left; }
        .players .rostercontainer .roster .styled-table th,
        .players .rostercontainer .roster .styled-table td {
          padding: 8px 50px 8px 20px; }
        .players .rostercontainer .roster .styled-table tbody .roster_row {
          border-bottom: 1px solid #c9c9c9;
          text-align: center; }
          .players .rostercontainer .roster .styled-table tbody .roster_row .player_field {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding-right: 40px; }
            .players .rostercontainer .roster .styled-table tbody .roster_row .player_field img {
              width: 50px;
              height: 50px;
              object-fit: contain; }
            .players .rostercontainer .roster .styled-table tbody .roster_row .player_field p {
              margin-left: 10px; }
          .players .rostercontainer .roster .styled-table tbody .roster_row .player_field:visited {
            color: #0000EE; }
          .players .rostercontainer .roster .styled-table tbody .roster_row .player_field:hover {
            text-decoration: underline; }
        .players .rostercontainer .roster .styled-table tbody .roster_row:hover {
          background-color: rgba(1, 154, 255, 0.15); }

.player {
  display: flex;
  justify-content: center;
  align-items: center; }
  .player .top_part {
    color: rgba(255, 255, 255, 0.95);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .player .top_part .profile_container {
      margin-top: 50px;
      display: flex;
      align-items: stretch; }
      .player .top_part .profile_container .imgs_container {
        display: flex;
        width: 50%;
        justify-content: flex-end; }
        .player .top_part .profile_container .imgs_container .team_logo {
          width: 20%; }
        .player .top_part .profile_container .imgs_container .profile_img {
          width: 60%; }
      .player .top_part .profile_container .profile_info_container {
        margin-left: 50px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column; }
        .player .top_part .profile_container .profile_info_container .name {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 40px;
          font-family: Arial, sans-serif;
          font-weight: 700; }
        .player .top_part .profile_container .profile_info_container .btn {
          margin-top: 40px;
          margin-bottom: 20px;
          width: 30%;
          background-color: rgba(5, 28, 45, 0.95);
          border: none;
          outline: none;
          height: 40px;
          border-radius: 50px;
          color: #fff;
          font-weight: 600;
          cursor: pointer;
          transition: 0.5s; }
        .player .top_part .profile_container .profile_info_container .btn:hover {
          background-color: #4d84e2; }
    .player .top_part .top_stats {
      display: flex;
      width: 100%;
      backdrop-filter: blur(1000px);
      backdrop-filter: brightness(50%);
      border: 1px solid rgba(255, 255, 255, 0.95);
      font-weight: 600;
      font-size: 15px;
      text-align: center;
      flex-direction: column;
      justify-content: center; }
      .player .top_part .top_stats .main_stats {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.95); }
        .player .top_part .top_stats .main_stats .main_stat {
          padding: 30px 50px;
          border-left: 1px solid rgba(255, 255, 255, 0.95); }
        .player .top_part .top_stats .main_stats .last_main_stat {
          border-right: 1px solid rgba(255, 255, 255, 0.95); }
      .player .top_part .top_stats .infos {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.95); }
        .player .top_part .top_stats .infos .info {
          padding: 30px 30px;
          border-left: 1px solid rgba(255, 255, 255, 0.95); }
        .player .top_part .top_stats .infos .last_info {
          border-right: 1px solid rgba(255, 255, 255, 0.95); }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.95);
  background-color: rgba(5, 28, 45, 0.95); }
  .footer .social-media {
    display: flex;
    justify-content: center; }
    .footer .social-media .social-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      font-size: 1.1rem;
      transition: 0.3s;
      margin: 0 0.45rem;
      color: #333;
      background-color: rgba(255, 255, 255, 0.95);
      border-radius: 50%;
      border: 1px solid #333;
      text-decoration: none; }
    .footer .social-media .social-icon:hover {
      color: #4481eb;
      border-color: #4481eb; }

@media screen and (max-width: 1550px) {
  .articles my-article .article {
    width: 600px;
    height: 300px;
    margin-top: 20px; }
    .articles my-article .article img {
      width: 60%; }
    .articles my-article .article .text_container {
      padding: 0px 20px; }
      .articles my-article .article .text_container p {
        padding: 0px 40px;
        font-size: 20px; }

  my-slide .slide img {
    width: 50%; }
  my-slide .slide .text_container p {
    font-size: 20px; }

  .players .comboBoxContainer {
    width: 90%; }
  .players .rostercontainer {
    width: 90%; }
    .players .rostercontainer .roster {
      font-size: 15px; }
      .players .rostercontainer .roster .styled-table th,
      .players .rostercontainer .roster .styled-table td {
        padding: 8px 40px 8px 20px; }
      .players .rostercontainer .roster .styled-table tbody .roster_row .player_field {
        padding-right: 30px; }
        .players .rostercontainer .roster .styled-table tbody .roster_row .player_field p {
          margin-left: 10px; } }
@media screen and (max-width: 1250px) {
  .articles my-article .article {
    width: 550px;
    height: 200px;
    margin-top: 20px; }
    .articles my-article .article img {
      width: 60%; }
    .articles my-article .article .text_container {
      padding: 0px 10px; }
      .articles my-article .article .text_container p {
        padding: 0px 30px;
        font-size: 16px; }

  .conference_standing {
    font-size: 15px; }
    .conference_standing .hide {
      display: none; }

  .games .gameCards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    .games .gameCards my-game-card {
      width: 100%; }

  .players .rostercontainer .roster {
    font-size: 14px; }
    .players .rostercontainer .roster .styled-table th,
    .players .rostercontainer .roster .styled-table td {
      padding: 8px 25px 8px 10px; }
    .players .rostercontainer .roster .styled-table tbody .roster_row .player_field {
      padding-right: 20px; }
      .players .rostercontainer .roster .styled-table tbody .roster_row .player_field p {
        margin-left: 10px; } }
@media screen and (max-width: 1150px) {
  .articles my-article .article {
    width: 400px;
    height: 200px;
    margin-top: 20px; }
    .articles my-article .article img {
      width: 50%; }
    .articles my-article .article .text_container {
      padding: 0px 10px; }
      .articles my-article .article .text_container p {
        padding: 0px 20px;
        font-size: 14px; } }
@media screen and (max-width: 850px) {
  .header label {
    display: block;
    cursor: pointer; }

  .navigation {
    display: none;
    position: absolute;
    margin-top: 400px;
    text-align: center;
    width: 100%;
    background-color: rgba(5, 28, 45, 0.95); }
    .navigation a {
      font-size: 25x;
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 30px 0px 0px;
      padding-bottom: 20px; }

  #toggle:checked ~ .navigation {
    display: block !important; }

  my-slide .slide {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    my-slide .slide img {
      width: 100%;
      margin-left: 0px;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden; }
    my-slide .slide .text_container {
      padding: 0px 10px; }
      my-slide .slide .text_container p {
        padding: 0px 20px;
        font-size: 18px; }

  .articles my-article .article {
    width: 100%;
    height: 250px;
    margin-top: 30px; }
    .articles my-article .article img {
      width: 60%; }
    .articles my-article .article .text_container {
      padding: 0px 20px; }
      .articles my-article .article .text_container p {
        padding: 0px 10px;
        font-size: 13px; }

  .articles {
    justify-content: center; }

  .games .datePickerContainer {
    width: 95%; }
  .games .gameCards {
    width: 95%; }
    .games .gameCards my-game-card {
      margin: 10px 0px; }
      .games .gameCards my-game-card .gamecard {
        padding: 10px; }
        .games .gameCards my-game-card .gamecard .team_in_card img {
          width: 50px;
          height: 50px; }
        .games .gameCards my-game-card .gamecard .cardMiddle h3 {
          margin: 0px 20px; }

  .players .comboBoxContainer {
    width: 95%; }
  .players .rostercontainer {
    width: 95%; }
    .players .rostercontainer .roster {
      font-size: 10px; }
      .players .rostercontainer .roster .styled-table th,
      .players .rostercontainer .roster .styled-table td {
        padding: 8px 10px 8px 4px; }
      .players .rostercontainer .roster .styled-table tbody .roster_row .player_field {
        padding-right: 10px; }
        .players .rostercontainer .roster .styled-table tbody .roster_row .player_field p {
          margin-left: 5px; }
      .players .rostercontainer .roster .styled-table .hide {
        display: none; }

  .player .top_part .profile_container .imgs_container {
    width: 60%; }
    .player .top_part .profile_container .imgs_container .team_logo {
      width: 20%; }
    .player .top_part .profile_container .imgs_container .profile_img {
      width: 70%; }
  .player .top_part .profile_container .profile_info_container {
    margin-left: 10px; }
    .player .top_part .profile_container .profile_info_container p {
      font-size: 12px; }
    .player .top_part .profile_container .profile_info_container .name {
      font-size: 20px;
      font-weight: 700; }
    .player .top_part .profile_container .profile_info_container .btn {
      margin-top: 30px;
      margin-bottom: 21px;
      font-size: 10px; }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 40px; }

  .conference_standing {
    font-size: 12px;
    width: 90%;
    padding: 10px; }
    .conference_standing .hide {
      display: none; }
    .conference_standing my-team-row .team_name_row {
      width: 130px; }
      .conference_standing my-team-row .team_name_row img {
        margin: 0px 5px; } }
@media screen and (max-width: 500px) {
  .players .rostercontainer {
    width: 95%; }
    .players .rostercontainer .roster {
      font-size: 8px; }
      .players .rostercontainer .roster .styled-table th,
      .players .rostercontainer .roster .styled-table td {
        padding: 8px 6px 8px 2px; }
      .players .rostercontainer .roster .styled-table tbody .roster_row .player_field {
        padding-right: 3px; }
        .players .rostercontainer .roster .styled-table tbody .roster_row .player_field p {
          margin-left: 3px; }

  .player .top_part .profile_container {
    margin-top: 20px; }
    .player .top_part .profile_container .imgs_container {
      width: 60%; }
      .player .top_part .profile_container .imgs_container .team_logo {
        width: 20%; }
      .player .top_part .profile_container .imgs_container .profile_img {
        width: 70%; }
    .player .top_part .profile_container .profile_info_container {
      margin-left: 5px;
      width: 40%; }
      .player .top_part .profile_container .profile_info_container p {
        font-size: 8px; }
      .player .top_part .profile_container .profile_info_container .name {
        font-size: 15px;
        font-weight: 700; }
      .player .top_part .profile_container .profile_info_container .btn {
        height: 30px;
        width: 50%;
        border-radius: 30px;
        font-size: 6px; } }

/*# sourceMappingURL=styles.css.map */
